<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.current_session_context_class">thread</property>
		<!-- printout all sqls for specified db -->
		<property name="hibernate.show_sql">true</property>
		<!-- create - drop table if exists -->
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<!-- classes mapped to tables in db -->
		<mapping class="com.nixsolutions.webapp.modelClasses.User" />
		<mapping class="com.nixsolutions.webapp.modelClasses.Role"/>
	</session-factory>
</hibernate-configuration>